<style>
    a img {
    margin-left: 20px;
    /* display: block; */
    border-radius: 2px;
    height: clamp(20px,5vw,28px);
    /* width: clamp(20px,1%,25px); */
    
}
    .footer {
        display: block;
        background-color: slategrey;
        height: 15vw;
        width: 100%;
        padding: 5rem;
        color: aliceblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        overflow: hidden;
    }

    .socials {
        display: block;
        height: 40px;
        width: 235px;
        margin: auto;
    }
</style>
<div class="footer">
    <div class="socials"> <a href="https://www.linkedin.com/in/daniel-kenan-slinda-277643209"><img src="/images/linkedin.png" style="background-color: aliceblue;"></a>
        <a href="/mail"><img src="/images/pngkit_gmail-icon-png_136609.png" ></a>
        <!-- <a href=""><img src="/images/1280px-Logo_of_YouTube_(2015-2017).svg.png" ></a> -->
        <a href="https://github.com/Daniel-Kenan"><img src="/images/github_logo_icon_143772.png"></a>
        <a href=" https://www.fiverr.com/daniel_kenan"><img src="/images/fiver.png" style="background-color: transparent;"></a>
        
    </div>
<h3 style="text-align: center;">curiosity is key to intelligence </h3>
    
</div>