<style>
    .header-menu {
        display: block;
        /* background-color: brown; */
        height: 70px;
        width: 100%;
        padding: 3px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    .header-menu a {
        color: black;
        
        text-decoration: none;
        float: right;
        margin: 4px;
        /* border: 0.5px solid black; */
        border-radius: 5px;
        padding: 2px;
        font-weight: bolder;
        font-size: clamp(5px,2.5vw,15px); 

    }

    .header-menu a:hover {
        border-color: white;
        /* background-color: black; */
        color: slateblue;


        /* background-color: slateblue; */
    }
</style>
<div class="header-menu">
    <img src="/images/" alt="">
    <span style="font-size: xx-large;color: slateblue;user-select: none;font-size:clamp(15px,2.5vw,30px)"><b>IamDaniel</b> </span>
    <a href="/home">PORTFOLIO</a><a href="/mail">CONTACT</a><a href="/blog">BLOG</a>


</div>