<div class="header-menu">
    <img src="/images/" alt="">
    <span style="font-size: x-large;color: slateblue;user-select: none;"><b>IamDaniel</b> </span>
    <a href="">Portfolio</a><a href="">Contact</a><a href="">Home</a>


</div>