<link rel="stylesheet" href="/stylesheets/style.css">
<div class="menu" data-aos="fade-left">
    <a href="/blog">BLOG</a>
    <a href="/#projects">PROJECTS</a>
       <a href="/#skills">SKILLS</a>
       <a href="/#about">ABOUT</a>
       <img src="/images/t.png" onclick="home()">
       </div><br><br>
<script>
        function home(){
            location.href = '/';
        }
</script>