<link rel="stylesheet" href="stylesheets/me.css">
    <div class="container-me" data-aos="fade-right">
        <div class="img"><img src="/images/avatar.jpeg" style="display:block;height: clamp(500px,100% , 600px);width: auto;"></div>
        <div class="content-q">
            <div style="padding: 0 20px;"> <q style="font-size: xx-large;">It is not the strongest of the species that survives, nor the most intelligent;
                 it is the one most adaptable to change.</q>
                 <cite>-Charles Darwin</cite>
            <p>I am a versatile self-taught software developer with a passion to code. I love reading documentation and 
                implementing those concepts and finding out how those algorithms actually work.
            <span style="color: brown;font-weight: bolder;">I also make cross-platform responsive websites.</span> </p></div>
           
        </div>
    </div>
