
<link rel="stylesheet" href="/stylesheets/projects.css">
<div class="main">
  
    <!-- Portfolio Gallery Grid -->
    <div class="row">
      <div class="column">
        <div class="content">
          <img src="/images/racing.gif" style="width:100%">
          <h3>My Work</h3>
          <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="images/memory.gif" style="width:100%">
          <h3>My Work</h3>
          <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="images/music.gif" style="width:100%">
          <h3>My Work</h3>
          <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="/images/curate.gif" alt="Mountains" style="width:100%">
          <h3>My Work</h3>
          <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
        </div>
      </div>
    <!-- END GRID -->
    </div>
    
    <!-- <div class="content" style="background-color: black;">
      <img src="./PicsArt_05-18-03.49.46.png" alt="Bear" style="width:100%">
      <h3>Some Other Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div> -->
    
    <!-- END MAIN -->
    </div>
    