
<link rel="stylesheet" href="/stylesheets/projects.css">
<div class="main">
  
    <!-- Portfolio Gallery Grid -->
    <div class="row">
      <div class="column">
        <div class="content" style="background-color: rgba(17, 127, 236, 0.418);">
          <img src="/images/portfolio.gif" style="width:100%">
          <h3>Portfolio</h3>
          <p>Well, Your own it . It is a blog intergrated portfolio with all content technology based. The blog 
            page uses ajax get calls to display a portion of the article you might be interested to read . 
            This site I built thiwebsite using nodejs , express , html5 css3 and javascripts and there is also a portion of
            python to handle the emails from the contact me page by using the exec instance from child_process depedency.  
          </p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="images/racing.gif" style="width:100%">
          <h3>Racing Game</h3>
          <p><a href="dan-race.herokuapp.com" class="hosting">Visit Site</a></p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="images/construction.gif" style="width:100%">
          <h3>Construction Site</h3>
          <p><a href="construction-boys.herokuapp.com" class="hosting">Visit Site</a></p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="/images/curate.gif" alt="Mountains" style="width:100%">
          <h3>Shopping Site</h3>
          <p><a href="chef-recipe.herokuapp.com" class="hosting">Visit Site</a></p>
        </div>
      </div>
    <!-- END GRID -->
    </div>
    
    <!-- <div class="content" style="background-color: black;">
      <img src="./PicsArt_05-18-03.49.46.png" alt="Bear" style="width:100%">
      <h3>Some Other Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div> -->
    
    <!-- END MAIN -->
    </div>
    