<link rel="stylesheet" href="/stylesheets/projects.css">
<div class="main">

  <!-- Portfolio Gallery Grid -->
  <div class="row">
    <div class="column">
      <div class="content">
        <img src="/images/portfolio.gif" style="width:100%">
        <h3>Portfolio</h3>
        <p>Well, Your own it . It is a blog intergrated portfolio with all content technology based.  
        </p>
        <div><a href="javascript: location.href = 'https://github.com/Daniel-Kenan/My-portfolio.git'"
            class="source-code"></a></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="images/racing.gif" style="width:100%">
        <h3>Racing Game</h3>
        <p>
          Enjoy a web racing game and unwind. Roam the streets freely
          but avoid the traffic.
          <a href="javascript: location.href = 'https://github.com/Daniel-Kenan/racing-game_js.git'"
            class="source-code"></a>
          <a href="javascript:location.href = 'http://dan-race.herokuapp.com' " class="hosting">Visit Site</a></p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="images/construction.gif" style="width:100%">
        <h3>Construction Site</h3>
        <p> A website I created for a construction company in swaziland
          <a href="javascript:location.href = 'https://github.com/Daniel-Kenan/Construction-Site.git'"
            class="source-code"></a>
          <a href="javascript:location.href = 'http://construction-boys.herokuapp.com' " class="hosting">Visit Site</a>
        </p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="/images/curate.gif" alt="Mountains" style="width:100%">
        <h3>Shopping Site</h3>
        <p>
          a chef recipe website for recipes it has a sign up login component.
          <a href="" class="source-code"></a>
          <a href="javascript:location.href = 'http://chef-recipe.herokuapp.com' " class="hosting">Visit Site</a></p>
      </div>
    </div>
    <!-- END GRID -->
  </div>

  <!-- <div class="content" style="background-color: black;">
      <img src="./PicsArt_05-18-03.49.46.png" alt="Bear" style="width:100%">
      <h3>Some Other Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div> -->

  <!-- END MAIN -->
</div>