
<link rel="stylesheet" href="/stylesheets/projects.css">
<div class="main">
  
    <!-- Portfolio Gallery Grid -->
    <div class="row">
      <div class="column">
        <div class="content">
          <img src="/images/memory.gif" style="width:100%">
          <h3>Memory Game</h3>
          <p><a href="iq-memory.herokuapp.com" class="hosting">Visit Site</a></p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="images/music.gif" style="width:100%">
          <h3>Music Player</h3>
          <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          
        <img src="/images/calculator.gif" style="width:100%">
          <h3>Calculator Vault</h3>
          <p>Hide and retrieve files with just a  calculator . I built this python program with </p>
        </div>
      </div>
      <div class="column">
        <div class="content">
        <img src="images/minesweeper.png" alt="Mountains" style="width:100%">
          <h3>Minesweeper</h3>
          <p>Well this is where I actually started with python .I got this challenge in a bootcamp at wethinkcode when I was first 
            Starting out with python and It was a challenge for me but then I took a short course with boston city college and 
            started working on my python skills. 
          </p>
        </div>
      </div>
    <!-- END GRID -->
    </div>
    
    <!-- <div class="content" style="background-color: black;">
      <img src="./PicsArt_05-18-03.49.46.png" alt="Bear" style="width:100%">
      <h3>Some Other Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div> -->
    
    <!-- END MAIN -->
    </div>
    