

<div class="main">
  
    <!-- Portfolio Gallery Grid -->
    <div class="row">
      <div class="column" data-aos="flip-down">
        <div class="content">
          <img src="/images/memory.gif" style="width:100%">
          <h3>Memory Game</h3>
          <p>Intellectual  Game for training  your memory . Built on a object oriented approach using my favourite programming
            language . javascript!
            </p>
            <div><a href="javascript: location.href = 'https://github.com/Daniel-Kenan/Memory-Game.git'"  class="source-code"></a>
              <a href="javascript:location.href = 'http://iq-memory.herokuapp.com' " class="hosting"></a></div>
        </div>
      </div>
      <div class="column" data-aos="flip-up">
        <div class="content">
        <img src="images/music.gif" style="width:100%">
          <h3>Music Player</h3>
          <p>
            Import and play music using the local file system with this python program using tkinter. <span class="python"></span>  
          
          </p>
          <div>  <a href="javascript: location.href = 'https://github.com/Daniel-Kenan/Music-Player.git' "  class="source-code"></a></div>
        </div>
      </div>
      <div class="column" data-aos="flip-down">
        <div class="content">
          
        <img src="/images/calculator.gif" style="display:block;width:83%;margin: auto;">
          <h3>Calculator Vault</h3>
          <p>
            Hide and retrieve files with just a  calculator . <span class="python"></span>  </p>
           <div><a href="javascript: location.href = 'https://github.com/Daniel-Kenan/calculator_vault.git'"  class="source-code"></a></div>
        </div>
      </div>
      <div class="column" data-aos="flip-down">
        <div class="content">
        <img src="images/minesweeper.png" alt="Mountains" style="width:97%">
          <h3>Minesweeper</h3>
          <p>
            Well this is where I actually started with python I thought it would be fun to include it.<span class="python"></span> 
          </p>
          <div><a href="javascript: location.href = 'https://github.com/Daniel-Kenan/Minesweeper.git'"  class="source-code"></a></div>
        </div>
      </div>
    <!-- END GRID -->
    </div>
    
    <!-- <div class="content" style="background-color: black;">
      <img src="./PicsArt_05-18-03.49.46.png" alt="Bear" style="width:100%">
      <h3>Some Other Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div> -->
    
    <!-- END MAIN -->
    </div>
    