<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>

<body>
    <style>
        .query {
            display: block;
            height: 600px;
            width: 80%;
            margin: auto;
            box-shadow: 2px 2px 2px 1px  black;
            /* border: 2px outset black; */
            cursor: pointer;
            overflow: hidden;
        }
    </style>
    <%- include('partials/header') %>
    <br><br>
    <div class="query"> </div>
    <br><br>
    <div class="query"></div>
    <br><br>
    <div class="query"></div>
    <br><br><br><br><br>
<%- include('partials/footer') %>
    <script src="/javascripts/blog.js">
        
    </script>
</body>

</html>