<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/pages.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>what is Git</title>
</head>
<body>
    <% if(menu){ %>
        <%- include('partials/header') %>
    <% }
    %>

<div class="content">
    <h1 style="font-size: xx-large;">What is Git?</h1>
    <img src="/images/git-logo.png" style="width: 40%;height: auto;">
    <p>If you have been in software development for a while I am sure your wondering
        you have heard this word before an your wondering what's the fuss about . Well prepare to be blown away.
        Git  is essential especially if your a fullstack developer.
    </p>
    <h3>Git</h3>
     git is a version control system tracking file changes and revisions over time
     and is fantastic when working with huge projects and multiple developers. Tracking these revisions over time is called
      Version Control.
      <h3>The benefits of using Version Control System</h3>
      <ol>
          <li>Better management of source code over time.</li>
          <li>Better collabborations of a software deveopment team.</li>
          <li>Speeds up development of a software.</li>
          <li>prevents changes of source code that are incompatible with changes made at 
              the same time by another developer.
          </li>
      </ol>
<h3>How does Git work?</h3>
<p>Git tracks changes by taking snapshots of files and records the changes as stream of snapshots</p>
  <p>First let's configure your local computer details </p>
  <pre><span class="git">--config user.name <span class="string">"your username"</span></span>

<span class="git">--config user.email <span class="string">"your email"</span></span>
  </pre>
  <pre><span class="git">status</span> <span class="comment">displays modified files and files that are not commited</span></pre>
  
  <pre><span class="git"> add index.html </span>   <span class="comment"> #filename</span> </pre>
  <pre>$git add .</pre>
  <pre>$git commit -M "initial commit"  <span class="comment"> commit message</span></pre>
  
</div>
<% if(menu){ %>
    <%- include('partials/footer') %>
<% }
%>
</body>

</html>