<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4348919192127273"
     crossorigin="anonymous"></script>
    <link href="/stylesheets/fontawesome/css/all.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="/stylesheets/pages.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href ="/images/icon.png" 
        type = "image/x-icon">
    <title>what is Git</title>

</head>

<body>
    <% if(menu){ %>
    <style>
        @media screen and (min-width:900px) {
            .content {
                display: block;
                margin: auto;
                width: 65%;
                height: auto;
            }
        }
    </style>
    <% }
            %>
    <% if(menu){ %>
    <%- include('partials/header') %>
    <% }
    %>

    <div class="content">
        <h1 style="font-size: xx-large;">What is Git?</h1>
        <img src="/images/git-logo.png" style="width: 40%;height: auto;">
        <p>If you have been in software development for a while I am sure your wondering
            you have heard this word before an your wondering what's the fuss about . Well prepare to be blown away.
            Git is essential especially if your a fullstack developer.
        </p>
        <h3>Git</h3>
        git is a version control system tracking file changes and revisions over time
        and is fantastic when working with huge projects and multiple developers. Tracking these revisions over time is
        called
        Version Control.
        <h3>The benefits of using Version Control System</h3>
        <ol>
            <li>Better management of source code over time.</li>
            <li>Better collabborations of a software deveopment team.</li>
            <li>Speeds up development of a software.</li>
            <li>prevents changes of source code that are incompatible with changes made at
                the same time by another developer.
            </li>
        </ol>
        <h3>How does Git work?</h3>
        <p>Git tracks changes by taking snapshots of files and records the changes as stream of snapshots. Git makes it
            easier for you
            to deploy your site to a remote repository such as github , git bucket or heroku whilst not leaving your
            terminal . You can add a .gitignore files
            in your master directory , the directory of you which ypu initialised git to be a working diretory .

        </p>
        <pre><span class="git">init</span> <span class="comment">initilises the current branch</span></pre>
        <p>You can also revoke the <span class="git">init</span> by using this command </p>
        <pre>rm -rf .git</pre>
        <p>The best important thing youll need to do after you have git installed in your computeer and 
            you after you have set the bin diretory to enviromental variables you need to comfigure your local computer details 
        starting with your username and email</p>
        <pre><span class="git">--config user.name <span class="string">"your username"</span></span>

<span class="git">--config user.email <span class="string">"your email"</span></span>
  </pre>
        <pre><span class="git">status</span> <span class="comment">displays modified files and files that are not commited</span></pre>

        <pre><span class="git"> add index.html </span>   <span class="comment"> #filename</span>  <span class="comment">stages all the files and makes them ready to be commited</span></pre>
        <pre>$git add .</pre>
        <pre>$git commit -M "initial commit"  <span class="comment"> commit message</span></pre>

    </div>
    <% if(menu){ %>
    <%- include('partials/footer') %>
    <% }
%>
</body>

</html>