<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/projects.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Kenan Slinda</title>
</head>

<body>
<div class="menu" data-aos="fade-left">
     <a href="/blog">BLOG</a><a href="#projects">PROJECTS</a>
        <a href="#skills">SKILLS</a>
        <a href="#about">ABOUT</a>
     
    </div>       
        
    <div class="top-nav" data-aos="zoom-in-down">

        <div class="header">
            <br><br>
            <p>
                <span class="animate" style="color: #2a9d8f;">I AM A CRE <span style="color: transparent; " class="animate">ATIVE...</span> </span> </p>
                <p>
                    <span class="animate"  style="color:#a2d2ff">I AM A CRE <span style="color: transparent; " class="animate">ATIVE...</span> </span> </p>
                    <p>
                        <span class="animate" style="color:#f4a261">I AM A CRE <span style="color: transparent; " class="animate">ATIVE...</span> </span> </p>
        </div>

        <!-- <h1 class="name"> </h1> -->
    </div>


    <div class="about" id="about"></div>
    <div data-aos="zoom-in-down" style="padding: 10px 0;width: 80%;margin: 0 auto;">

        <p class="animate" style="color: #2a9d8f;"><span style="color: #f4a261" class="animate">HI,</span> I AM DANIEL</p>          
        <img src="https://avatars.githubusercontent.com/u/80764195?v=4" style="display: block;margin: 0 auto;width:clamp(200px,40%,550px) ;height: auto;">
        <br><br>
        </div>        
        <br> 

    <br>
    </div>

    <div data-aos="zoom-in-down" style="padding: 5px;background-color: white;width: 80%;margin: 0 auto;">
    
        <h1  id="skills" class="animate" >SKILLS</h1>
         <!-- <hr> -->
        <div class="skills">
           <div><img  src="/images/iconfinder-videoslideslayersplayerui-3993849_112664.png" alt="">
        <p>HTML/CSS </p>
    </div>
           <div><img src="/images/1457055665_Web_Design_icon-icons.com_54708.png" alt="">
            <p>Responsive design </p></div>
           <div><img src="/images/file_type_js_official_icon_130509.png" alt="">
            <p>JavaScript </p></div>
        </div>
        <div class="skills">
            <div><img src="/images/iconfinder-webbrowseronlaptop-4417111_116624.png" alt="">
                <p>Cross-platform</p></div>
            <div><img src="/images/iconfinder-servertransfer-4417112_116623.png" alt=""> <p>Application Programming Interface</p></div>
            <div><img src="/images/iconfinder-browserwindowwithstats-4417108_116626.png"  alt=""> <p>Analytical </p></div>
        </div>
    </div>
<br><br>
  <br>

    <div class="projects"  data-aos="zoom-in-up">
        <br><br><br>
        <h1 class="animate" id="projects" >PROJECTS</h1>
        <p style="text-align: center;">Here are a few design projects I've worked on recently. Want to see more? <span style="font-family: Dela Gothic one;color: #2a9d8f;cursor: pointer;" onclick="javascript:location.href = '#contact'">Contact Me.</span>
            <br><br>
            
        <br>
        <br>
     <div class="col">
         <img src="/images/portfolio.gif"> 
         <div>
            <a href="https://github.com/Daniel-Kenan/My-portfolio.git" class="source-code" style="width: 100%;" target="_blank"></a>
          
         </div>

     </div>
    <div class="col">
        <img src="images/racing.gif"> 
        <div> <a  href= 'https://github.com/Daniel-Kenan/racing-game_js.git' class="source-code" target="_blank"></a>
         <a  href='http://dan-race.herokuapp.com' class="hosting" target="_blank"></a>
        </div>
    </div>
    <div class="col">
        <img src="images/construction.gif"> 
        <div> <a  href='https://github.com/Daniel-Kenan/Construction-Site.git' class="source-code" target="_blank"></a>
         <a  href='http://construction-boys.herokuapp.com' class="hosting" target="_blank"></a>
        </div>
    </div>
    <div class="col">
        <img src="/images/curate.gif"> 
        <div> <a class="source-code" target="_blank"></a>
         <a class="hosting" target="_blank"></a>
        </div>
    </div>
    <div class="col">
        <img src="images/eco.gif"> 
        <div> <a href="https://github.com/Daniel-Kenan/Eco" class="source-code" target="_blank"></a>
         <a href='https://ecosystem-3727a.web.app' class="hosting" target="_blank"></a>
        </div>
    </div> 
    <div class="col">
        <img src="images/music.gif"> 
        <div> <a href='https://github.com/Daniel-Kenan/Music-Player.git' class="source-code" style="width: 100%;" target="_blank"></a>
        </div>
    </div> 
        <br><br><br><br><br><br><br><br> 
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="ball"></div> 
    <%- include('partials/footer') %>
    
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/scroll.js"></script>
    <script>
        AOS.init();
    </script>
</body>


</html>