<!DOCTYPE html>
<html lang="en">

<head>
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio </title>
</head>

<body>

    <div class="top-nav">
        <a href="#about">ABOUT</a>
        <a href="#projects">PROJECTS</a>
        <a href="#skills">SKILLS</a>
        <a href="/blog">BLOG</a>
        <div class="header">
        </div>
        <img src="/images/80764195.jpg" alt=":-) Daniel" class="img">
        </img>
        <h1 class="name"> </h1>
    </div>
<h1 class="animate">SKILLS</h1>
    <div class="skills" id="skills">
    
        HTML5 <progress min="0" , max="100" , value="95"></progress><br>
        <br>
        CSS3 <progress min="0" , max="100" , value="87"></progress><br>
        <br>
        Javascript <progress min="0" , max="100" , value="90"></progress><br>
        <br>
        Nodejs <progress min="0" , max="100" , value="70"></progress><br>
        <br>
        python <progress min="0" , max="100" , value="70"></progress><br>
        <br>
        git <progress min="0" , max="100" , value="80"></progress><br>
        <br>
        C <progress min="0" , max="100" , value="60"></progress><br>
        <br>
    </div>
   
    
    <br><br><br><br><br>
    <div class="skills-icon">
        <br>
        <img src="/images/pngkit_javascript-logo-png_803482.png" style="width: 20vw ; max-height:250px"><br>
        <img src="/images/node.png" width="400" style="width: 30vw;max-height: 300px; "><br>
        <!-- <img src="/images/kisspng-professional-python-programmer-computer-programmin-python-logo-download-5b47725c473774.6340274515314089882917.png" -->
            <!-- style="max-width: 75px; max-height: 75px;"> -->

    </div>
   
    <h1 class="animate">PROJECTS</h1><br>

   
<br>
    <%- include('partials/projects') %>
    <%- include('partials/projects') %> 
    <br><br> <br><br>
    <%- include('partials/footer') %>
   
    <script src="/javascripts/index.js"></script>

</body>


</html>