<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/projects.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.K Slinda</title>
</head>

<body>

    <div class="top-nav" data-aos="zoom-in-down">
        <a href="/blog">BLOG</a>
        <a href="#projects">PROJECTS</a>
        <a href="#skills">SKILLS</a>
        <a href="#about">ABOUT</a>
        <div class="header">
        </div>

        <!-- <h1 class="name"> </h1> -->
    </div>


    <div class="about" id="about"></div>
    <h1 class="animate">ABOUT</h1>
    <%- include('partials/me') %>

    <br>
    </div>

    <div data-aos="fade-top" style="padding: 5px;">
    
        <h1  id="skills" class="animate" >SKILLS</h1>
         <!-- <hr> -->
        <div class="skills">
           <div><img  src="/images/iconfinder-videoslideslayersplayerui-3993849_112664.png" alt="">
        <p>HTML/CSS </p>
    </div>
           <div><img src="/images/1457055665_Web_Design_icon-icons.com_54708.png" alt="">
            <p>Responsive design </p></div>
           <div><img src="/images/file_type_js_official_icon_130509.png" alt="">
            <p>JavaScript </p></div>
        </div>
        <div class="skills">
            <div><img src="/images/iconfinder-webbrowseronlaptop-4417111_116624.png" alt="">
                <p>Cross-platform</p></div>
            <div><img src="/images/iconfinder-servertransfer-4417112_116623.png" alt=""> <p>Application Programming Interface</p></div>
            <div><img src="/images/iconfinder-browserwindowwithstats-4417108_116626.png"  alt=""> <p>Analytical </p></div>
        </div>
    </div>

  

    <div class="projects">
        <br><br><br>
        <h1 class="animate" id="projects">PROJECTS</h1><br>
        <%- include('partials/projects') %>
        <%- include('partials/projects1') %>


    </div>



    <br><br> <br><br><br><br><br><br><br><br> <br><br><br><br>
    <%- include('partials/footer') %>

    <script src="/javascripts/index.js"></script>

    <script>
        AOS.init();
    </script>
</body>


</html>