<!DOCTYPE html>
<html lang="en">

<head>
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <link href="/stylesheets/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href ="/images/icon.png" 
        type = "image/x-icon">
    <title>Daniel Kenan Slinda </title>
</head>

<body>
<div id="loader" >
<img src="/images/computer.png">
</div>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
    </style>

<%- include('partials/header') %>     
<!-- <div class="publication" style="display: none;"><div>Certification</div></div>   -->
    <div class="top-nav" data-aos="zoom-in-down">

        <div class="header" style="display: flex;align-items: center;">
            
          <div style="display: block;margin: auto;">
            <br>
    <img src="/images/mywebw.png" id="img-with-paint" >
    <img src="/images/code.png" id='img' >
        
    <br><br>
 <p  class=" intro" style="font-family:Dancing Script; font-weight: bolder;font-size: 20px;margin-top:-25px" >UI Designer & Developer <i class="fas fa-paint-brush" style="font-size: larger;"></i><br>
              <span  class="name" style="font-weight: bolder;font-family: Dela Gothic one;">Daniel Kenan Slinda </span> </p> 
          </div>
          
    </div>
    </div>
<br>

    <div class="about" id="about"></div>
    <div data-aos="zoom-in-up" class="about-css" >
  <div class="about_master" >
      <h1 class="animate">ABOUT</h1>
      <br>
    <img src="https://avatars.githubusercontent.com/u/80764195?v=4" class="myself" style="clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);" >
    <br>
    <p class="work"> 	&#128075
     Thank you for taking the time to review my portfolio. I am a software developer with nearly three years of programming
     experience . I am enthuasiastic , passionate, hard-working and well-organised.
     </p>
     <p class="work"> 
  I am  a rubik's cube solver and I enjoy board games and reading. I am eager to demonstrate my unique range of programming skills and to be an asset to your
  bussiness.
     </p> 
      <p class="work">There is always something new to learn with software development and I am eager to learn and adapt and hopefully thrive in the software development world, 
         because I strongly believe in the law of adaptation by Charles Darwin.
     </p>
     <p class="work"> 
        “It is not the strongest of the species that survives, nor the most intelligent; it is the one most adaptable to change.” — Charles Darwin
     </p>
   
     <br><br>
    </div>
        <!-- <h1 class="animate" style="font-weight: bolder;">👋 LET US BUILD MAGIC TOGETHER 😁</h1>        -->
          
        <br>
        </div>        
        <br> 

    <br>
    </div>

    <div data-aos="zoom-in-up" class="skills-container">
    
        <h1  id="skills" class="animate" >SKILLS</h1>
         <!-- <hr> -->
        <div class="skills">
           <div><img  src="/images/iconfinder-videoslideslayersplayerui-3993849_112664.png" alt="">
        <p>HTML/CSS </p>
    </div>
           <div><img src="/images/1457055665_Web_Design_icon-icons.com_54708.png" class="centre">
            <p>Responsive design </p></div>
           <div><img src="/images/file_type_js_official_icon_130509.png" alt="">
            <p>JavaScript </p></div>
        </div>

        <div class="skills">
            <div><img src="/images/paint.png"  alt=""> <p>UI design</p></div>
            <div><img src="/images/REST.png" class="centre"> 
                <p>Rest API</p></div>
            <div><img src="/images/iconfinder-webbrowseronlaptop-4417111_116624.png" alt="">
                <p>Cross-platform</p></div>
        </div>

        <div class="skills">
            <div><img src="/images/python.png" alt="">
                <p>Python</p></div>
            <div><img src="/images/regex.png" alt=""> <p>Regex</p></div>
            <div><img src="/images/linux.png" alt=""><p>Linux</p></div>
          
        </div>
        <div class="skills">
            <div><img src="/images/node.png" class="centre"> <p>Nodejs with ExpressJs</p></div>
            <div><img src="/images/mongo.png"  alt=""> <p>Mongo db</p></div>
            <div><img src="/images/iconfinder-servertransfer-4417112_116623.png" alt=""> <p>CI/CD</p></div>
        </div>
        <div class="skills">
            <div><img src="/images/c.png" class="centre"> <p>C</p></div>
            <div><img src="/images/socket.png" class="centre"> <p>Real-time data with sockets</p></div>
            <div><img src="/images/jquery.png"  alt=""> <p>JqueryJs </p></div>
        </div>
        <div class="skills">
            <div><img src="/images/canva.png" alt="">
                <p>Canva</p></div>
            <div><img src="/images/scrapper.png" alt="">
                <p>Web Scraping</p></div>
            <div><img src="/images/rubiks.png"  class="centre"> <p>Rubiks Cube </p></div>
        </div>
    </div>
<br><br>
  <br>
  <div class="cloud" style="min-height:80%;background-color: rgb(240, 240, 240);padding: 10px;" data-aos="zoom-in-down">
    <br> 
    <h1 class="animate">CLOUD</h1>
<br><br>      
      
       <div style="height: 100%;display: flex;align-items: center;justify-content: center;margin-top: 1%;">
        <img src="/images/heroku.png" >
        <img src="/images/firebase.png" >
        <!-- <img src="" alt=""> -->
        <img src="/images/github.png" >
        <!-- <img src="/images/google.png" style="height: 120px;margin-left: 100px;"> -->
    </div>
  </div><br>
<div id="projects"></div>
    <div class="projects"  data-aos="zoom-in-up">
        
        <h1 class="animate"  >PROJECTS</h1>
        <p style="text-align: center;">Here are a few design projects I've worked on recently. Want to see more? <span style="font-family: Dela Gothic one;color: #2a9d8f;cursor: pointer;" onclick="javascript:location.href = '#contact'">Contact Me.</span>
<br><br><br>
                      <style>ul li {margin: 10px;border-radius: 10px;}</style>
            <section style="position: relative;">
                <ul>
                    <li class="list active" data-filter="All">All</li>
                    <li class="list" data-filter="Heroku">JavaScript</li>
                    <li class="list" data-filter="Firebase">Python</li>       
                               
                </ul>
            </section>
           <br>
    <div class="container gallery" style="min-height: 80%;">
        <div class="col items Heroku" >
            <img src="/images/Dan.jpg" class="portfolio"> 
            <div>
               <!-- <a href=class="source-code" style="width: 100%;" target="_blank"></a> -->
             <h3 >Portfolio</h3>
             <p>Well... your currently on this url , thank you for reviewing my portfolio</p>
            </div>
        </div>
        <div class="col items Heroku">
           <img src="/images/curate.gif" class="curate"> 
           <div>
               <h3>Curate</h3>
               <p>Pick Food and add to to wishlist , login and logout. Food based web Application</p> 
               <!-- <a href="https://github.com/Daniel-Kenan/chef-site.git" class="source-code" target="_blank" style="width: 100%;"></a>
            <a href="http://chef-recipe.herokuapp.com class="hosting" target="_blank" style="width: 100%;"></a> -->
           </div>
       </div>
       <div class="col items Firebase">
           <img src="images/eco.gif" class="ecosystem"> 
           <div>
               <h3>Ecosystem Website</h3>
               <p>Let us love and protect the diversity of creatures we have in this world</p>
                <!-- <a href= class="source-code" target="_blank"></a>
            <a href= class="hosting" target="_blank"></a> -->
           </div>
       </div> 
       <div class="col items Heroku">
           <img src="images/construction.png" class="construction"> 
           <div>
               <h3>Website User Management System</h3>
               <p>Promoting a Swazi-land Construction Company</p> 
              
           </div>
       </div>
       <div class="col items Heroku">
           <img src="images/racing.gif" class="race"> 
           <div>
               <h3>Traffic racing game</h3>
               <p>Enjoy roaming on the highway but avoid collision.</p>
                
           </div>
       </div>

       <div class="col items Firebase">
        <img src="/images/music.gif" class="music"> 
        <div>
            <h3>Music Player</h3>
            <p>Interact and play your local paylist using this music player application.</p>
            
        </div>
    </div>
        
    </div>
  
    </div>
    
   <div class="pre-footer">
       
        <a href="/resume" >
            <div style="display: flex;align-items: center;">
                <img src="/images/avatar.jpeg" style="width: 72px;height: auto;"> 
    <span  style="font-weight: bold;text-decoration: none;font-size: 16px;font-family: monospace;" >
    < view_my_resume /></span>
            </div>
    </a>
        
      </div>
    <%- include('partials/footer') %>
    <script>
        function home(){
            location.href = '/';
        }
    </script>
    <script src="/javascripts/index.js"></script>
  
    <script>
        AOS.init();
    </script>
   
    
    <script>
        $(document).ready(function(){
            const animation_duration = 500;
             const preview = "/preview/";
             
             $(".portfolio").click(function(){
                location.href = preview + "portfolio";
           })
            $('.curate').click(function(){
                location.href = preview + "curate" ;
            })
            $('.construction').click(function(){
                location.href = preview + "construction";
            })
        
           $('.ecosystem').click(function(){
               location.href = preview + "eco" ;
           })
           $(".race").click(function(){
            location.href = preview + "racing" ;
           })
           $(".music").click(function(){
            location.href = preview + "music" ;
           })
           
            $('.list').click(function(){
                const value = $(this).attr('data-filter');
                if(value == 'All'){
                    $('.col').show(animation_duration)
                }
                else{
                    
                    $('.col').not('.'+value).hide(animation_duration);
                    $('.col').filter('.'+value).show(animation_duration);
                }
            })

            $('.list').click(function(){
                // alert("hello")
                $(this).addClass('active').siblings().removeClass('active');
            })
        })
    </script>
</body>


</html>