<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio </title>
</head>

<body>

    <div class="top-nav">
        <a href="#about">ABOUT</a>
        <a href="#projects">PROJECTS</a>
        <a href="#skills">SKILLS</a>
        <a href="/blog">BLOG</a>
        <div class="header">
        </div>

        <!-- <h1 class="name"> </h1> -->
    </div>

    <h1 class="animate">ABOUT</h1>
    <div class="about" id="about"></div>

    <%- include('partials/me') %>
    </div>
    <h1 class="animate" id="skills">SKILLS</h1>
    <br>
    <div class="skills">
        <img src="/images/pngkit_javascript-logo-png_803482.png" style="width: 40vw;max-height: 800px;grid-area: hcj;margin: auto;">
        <img src="/images/node.png" width="400" style="width: 30vw;max-height: 300px; grid-area: node;">
        <img src="/images/heroku.png" width="400" style="width: 30vw;max-height: 300px; grid-area: heroku;">
        <img src="/images/python.png" width="200" style="width: 20vw;max-height: 300px; grid-area: python;">
        <img src="/images/git-logo.png" width="400" style="width: 30vw;max-height: 300px; grid-area: git;">
        <div class="overview" style="grid-area: overview;">
             <h3 style="text-align: center;">Overview</h3>
             <p>All my web applications are built with html javascript and the Nodejs's express with a xammpp apache and mysql database and these 
                 are my enviromental tools. I edit photos using Gimp photo Editor and my IDEs are visual studio code and pycharm. The cloud platform I utiise is 
                 heroku.  <span style="color: purple;font-weight: bolder;">I have basic knowledge of C programming and memory management and also basic knowledge of networking.</span>
             </p>
            </div>
          

    </div>

    <h1 class="animate" id="projects">PROJECTS</h1><br>


    <br>
    <%- include('partials/projects') %>
    <%- include('partials/projects1') %>
    <br><br> <br><br>
    <%- include('partials/footer') %>

    <script src="/javascripts/index.js"></script>

</body>


</html>