<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    <link rel = "icon" href ="/images/icon.png" 
        type = "image/x-icon">
</head>
<body>
    
    <%- include('partials/header') %>
  
    <br><br>
    <div class="container preview">
        <img src="/images/music.png" class="img">
        <br><br>
        <div style="display: flex;"> 
            <a href="https://github.com/Daniel-Kenan/chef-site.git" class="source-code" target="_blank" ></a>
            <a href="http://chef-recipe.herokuapp.com"  class="hosting" target="_blank" ></a></div>
        <br>
            <h3 >Overview</h3>
        <p>
            python tkinter music player application.
        </p>
         
        <br>
          
  
   <br><br>
  
   <div class="grid">
       <div class="content-block">
           <img src="/images/iconfinder-bl-1642-data-development-programming-coding-magnifier-4575051_121508.png" alt="">
               <span class="Wrap" >Technologies</span>
               <br>
                <ul>

                    <li>Python3</li>
                   <li>Tkinter library</li>
                    <li>Pygame library</li>
                     
                </ul>
       </div>
      
            <div class="content-block">
                <img src="/images/android_webview_dev_browser_logo_icon_153017.png" alt="">
                <span class="Wrap">Developer Tools</span>
                <br>
                <ul>
                    <li>Python env</li>
                   
                </ul>
            </div>
   
   </div>
    
    </div>
    <%- include('partials/footer') %>
</body>
</html>