<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/pages.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Networking for Software Engineers</title>
</head>

<body>
    <% if(menu){ %>
    <style>
        @media screen and (min-width:900px) {
            .content {
                display: block;
                margin: auto;
                width: 65%;
                height: auto;
            }
        }
    </style>
    <% }
            %>
    <% if(menu){ %>
    <%- include('partials/header') %>
    <% }
    %>

    <div class="content">
        <h1 style="font-size: xx-large;">Networking for Software Engineers</h1>

        <img src="/images/photo-1545665277-5937489579f2.jpg" width="550" height="300">
        <p>To become a a skilled software engineer at some point you need to learn Networking. Most self-taught
            developers in south africa
            are front-end developers but to transition from that state the knowledge of computer networks is essential
            and beneficial to thorough
            understanding of the ecosystem of data communication afterall if you code you in the field of
            <b><i>ICT</i></b> which stands for information technology and communication. </p>

        <h3>What is a network</h3>
        <p>Network is a connection of computer systems interconnected by wires or wirelessly to
            exchange data. for instance in a office data is exchanged from one computer to another and
            they are also connected to a printer and this is an example of a local area Network. At ths generation we
            are all connected
            to a network that is why we can exchange data with messaging , email and etc and this
            with this network data can be transferred over a longer path.
        </p>

        <h3>How the internet works</h3>
        <q>a global computer network providing a variety of information and communictation
            facilities,consiting of interconnected networks using standardizedcommunication protocols
        </q><cite>-CCNA</cite>

        <p>
            When you make a request on your web browser for a certain website your browser will reach for the memory
            cache which stores the ipaddresses of websites and if the is not stored in the cache
            operating system makes a http request to Domain naming server and the Com Servers and when the website
            iretrieved it comes back as packets to your
            compter and you can access the data. The Process happens in a blink of an eye because The domain naming
            system was designed to work fast and maybe is even closer to the
            speed of sound.</p>

        <h3>What are packets</h3>
        <p>Packets are small segment of a large data which is information that are sent across the network, for instance
            when you are streaming a video from youtube , you are a client requesting data from youtube's web server the
            data will be divided and segment
            back to your computer to alter electrical signals and radio waves and to finally output that video on your
            screen an you lost internet
            connection the video will play up until it reaches a segment where packets are missing.
        </p>

    </div>

    <% if(menu){ %>
    <%- include('partials/footer') %>
    <% }
%>
</body>

</html>