<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Racing HTML game</title>
    <link rel = "icon" href ="/images/icon.png" 
        type = "image/x-icon">
</head>
<body>
    
    <%- include('partials/header') %>
  
    <br><br>
    <div class="container preview">
        <img src="/images/racing.png" class="img">
        <br><br>
        <div style="display: flex;"> 
            <a href="https://github.com/Daniel-Kenan/chef-site.git" class="source-code" target="_blank" ></a>
            <a href="http://drag-racing.herokuapp.com"  class="hosting" target="_blank" ></a></div>
        <br>
            <h3 >Overview</h3>
        <p>
            This is vannila javascript rich fullstack web application.
        </p>
         
        <br>
          
  
   <br><br>
  
   <div class="grid">
       <div class="content-block">
           <img src="/images/iconfinder-bl-1642-data-development-programming-coding-magnifier-4575051_121508.png" alt="">
               <span class="Wrap" >Technologies</span>
               <br>
                <ul>
                    <li> HTML5</li>
                    <li> CSS3</li>
                    <li>JavaScript</li>
                   <li> NodeJs</li>
                    <li>ExpressJs</li>
                    <li>EJS</li>  
                </ul>
       </div>
      
            <div class="content-block">
                <img src="/images/android_webview_dev_browser_logo_icon_153017.png" alt="">
                <span class="Wrap">Developer Tools</span>
                <br>
                <ul>
                    <li>Nodemon</li>
                    <li>GulpJs</li>
                    <li>Postcss</li>
                    <li>Autoprefixer</li>
                    <li>Cssnano</li>
                </ul>
            </div>
   
          <div class="content-block">
              <img src="/images/photolayoutseditor_94774.png" alt="">  <span class="Wrap">Photoshop</span>
              <br>
                <ul>
                    <li>Gimp photo editor</li>
       
       
                </ul>
          </div>
   </div>
    
    </div>
    <%- include('partials/footer') %>
</body>
</html>