<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Let us build the future together</title>
  <link rel = "icon" href ="/images/icon.png" 
        type = "image/x-icon">
</head>

<body style="display: flex;align-items: center;justify-content: center;">
  <div style="margin-top: -10%;">
    
<br><br>
<h1 style="font-family:Dela Gothic One;text-align: center;font-size: xxx-large;">Oops...</h1>
<br><br>   
<div style="height: 100%;width: 100%;text-align: center;font-size: large;"><p>Your web browser doesn't have a PDF plugin.
      Instead you can <a href="/Daniel's Resume.pdf" download style="text-decoration: none;color: darkcyan;">click here to
        download the PDF file.</a></p></div>
  </object>
  </div>
</body>

</html>