<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/stylesheets/pages.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>finding my out of the mist </title>
</head>

<body>
    <% if(menu){ %>
        <%- include('partials/header') %>
    <% }
    %>
    
    <!-- <div class="header">
        <img src="/images/80764195.jpg" height="70" width="70" style="border-radius: 50%;display: block;float: left;">
        <br>
        <span style="margin-left: 12px;">Daniel Kenan Slinda</span><br>
        <span style="margin: 12px;">03 Oct 2021</span>
    </div> -->

    <div class="content">
<h1 style="font-size: xx-large;">My Path To Programming </h1>
        <img src="/images/1_pUi3vkj06Vqp_sXeiI-UbQ.jpeg" width="850" height="400" style="margin-left: 0.5rem;">
        <p>It all started whilst I was in the 9th grade I was good at memorising in class and I was good at mathematics
            and
            science and I would score the highest marks in my class without putting much effort and I would love to play
            with
            my friends gadgets because my parents would not afford them . After a while that year depression started to
            sink in
            as I was a nerd that nobody would want to be their friend . I had no real friends . I felt lonely and I was
            mocked almost everyday because of how I would look and of how lonely I was . That started to affect my
            grades negatively
            so . But at the end of that year I still got the opportunity to go to the Lego robotics bootcamp for three
            days thanks to
            Ms Baloyi one of the teachers who still believed in me. The best bootcamp and after it ended it was back to
            square one.
        </p>
        <p>First day of the bootcamp we were introduced to to Lego robotics and I met different people in the bootcamp
            and we all something
            in common. we were nerds . One of the best days in my life. During the first day of the camp we had to pick
            the names for our
            teams and I am the one who chose the name for that team . 'The expandables' inspired by the action packed
            movie. My Team and I we were a force to
            be reckoned with intellectually.We were taught how to program the robot using their software but no
            programming logic and it only
            needed logic and that was easy for my team . We would discuss the logic of every challenge presented to the
            teams and we wold ensure we win them.
            Everyday I would study so that we ace the bootcamp. On the last day of the bootcamp we requested to build
            and program a robot that would go straight until
            it recognises an object in front of it and it would grab that objects and turn 180 degrees whilst carrying
            that object to us . So they placed chocolates , biscuits etc and it was
            a treat.
        </p>

        <p>The bootcamp ended and I felt as a fallen angel . The depression started to take a toll on me the I repeated
            a grade that year .
            Another year , same grade and intensified feelings of depression but this time I passed this grade. years
            passed and I eventually completed
            my matric and I was hopeless with no direction. I joined a movement trying to fill my void but that ended
            badly as expected . I failed at relationships and
            I was going nowhere fast but then I remembered how much there was this application I had on the 10th grade
            called sololearn
            and I downloaded it. I started slowly and but I became consistent everyday because I had a dream of building
            a game oor appication for
            playstore so I could make a lot of money , I thought in a couple months if I practiced many hours I surely
            get there in a couple of
            months. I started with Hypertext Markup Language then Cascading Style Sheet and finally javascript.
        </p>
        <br>
        <pre>console.log(' Hello, World ')             <span class="comment">// this will output Hello, World</span></pre>
        <!-- <br> -->
        <p>javascript was hard but i used tutorials , I was in tutorial hell there was a it took me 3 weeks to debug one
            simple thing in a to do list web application hosted
            with sololearn as a static page . I asked for help online then thanks to sololearn community I was helped
            in this period my depression got healed I started to read a lot and I started learning how and why do humans
            feel , what exactly is consciousness
            I was a curious cat .

        </p>

    </div>
    <img src="/images/images (1).jpeg" width="850" height="400" style="margin-left: 0;">
    
    <% if(menu){ %>
        <%- include('partials/footer') %>
    <% }
    %>
</body>

</html>