a img {
    margin-left: 20px;
    /* display: block; */
    border-radius: 2px;
    height: clamp(20px,5vw,28px);
    /* width: clamp(20px,1%,25px); */
    
}
    .footer {
        display: block;
        background-color: rgb(90, 90, 90);
        border: 1px solid black;
        /* border-radius: 15px; */
        /* border-bottom-left-radius: 0 0; */
    /* border-bottom-right-radius: 0 0; */
        width: 100%;
     font-size: medium;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
        padding: 2% 0% 7% 0%;
        color: aliceblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* overflow: hidden; */
        /* bottom: 0%; */
    }

    .socials {
        display: flex;
        justify-content: center;
    }