* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
    padding: 0;
    margin: 0;
}

h1 {
    margin-left: 15px;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    display: block;
    height: 100px;
    width: 400px;
    /* background-color: red; */
    overflow: hidden;
    padding: 10px;
}

.content {
    padding: 15px;
}

.content img {
    width: 60%;
    height: auto;
}

.content h1 {
    font-size: large;
}

.comment {
    color: grey;
}

pre {
    background-color: rgb(12, 10, 10);
    color: white;
    display: block;
    width: 80%;
    min-width: 100px;
    max-width: 700px;
    padding: 15px;
    overflow: scroll;
}

q {
   quotes: "`"  "`" "'" "'";
}

.string {
    color: peru;
}



.const {
    color: rgb(4, 87, 134);
}

.other {
    color: aqua;
}

.const::after {
    content: "const";
}

.git::before {
    content: "$git ";
}