:root{
    --background-color: rgba(0, 0, 0, 0.719);
    --font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
* {
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
}

body {

    background-color: aliceblue;
}

.header {
    top: 0;
    left: 0;
    background-color: var(--background-color);
    height: 100vh;
    width: 100%;
    padding-top: 170px;
    display: none;
}

.img {

    height: 200px;
    width: 200px;
    left: 10%;
    top: 20%;
    position: absolute;
    border-radius: 50%;

}



.png {
    height: 35px;
    width: 35px;
    margin-left: 8px;
    margin: 10px 2px;
}

.png:hover {
    height: 40px;
    width: 40px;
}

#mail {
    width: 37px;
}

#mail:hover {
    width: 43px;
}

.name {
    position: absolute;
    font-family: var(--font-family);
    color: white;
    font-size: 3rem;
    top: 25%;
    left: 35%;

}

.skills {
    padding: 5px;
    width: 100%;
    height: 110vh;
    color: black;
    position: relative;
    font-family: monospace;
    font-size: 1.5rem;
}



#projects {
    width: 90%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.801);
    padding: 15px;
    display: block;
    margin: 0 auto;
    color: white;
}

#projects h1 {
    text-align: center;
    font-family: var(--font-family)
}

.projects {
    display: block;
    min-height: 70vh;
    width: 50vh;
    background-color: rgb(0, 153, 255);
    
    margin: 2rem;
}

.content {
    display: none;
    text-align: center;
    padding-top: 23vh;
    
}

.projects:hover>img {
    display: none;
}

.projects > img {
    height: 100%;
    width: 100%;
}

.projects:hover>.content {
    display: block;
}

.section {
    display: flex;
}

.content h3 a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: aliceblue;
}

.socials {
    display: block;
    position: absolute;
    height: 200px;
    width: 112px;
    overflow: hidden;

}

.query {
    top: 55%;
    left: 95%;
    display: block;
    height: 15px;
    width: 20px;
    position: fixed;
    z-index: 1;

}


#nav {
    display: block;
    height: 50px;
    width: 50px;
    top: 90%;
    left: 95%;
    border-radius: 50%;
    position: fixed;
    cursor: pointer;
    z-index: 1;
}

.top-nav a {
    border: 1px white solid;
    padding: 2px;
    border-radius: 4px;
    text-decoration: none;
    float: right;
    margin: 9px 6px;
    color: white;
    opacity: 0.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.8s;
}

.top-nav {
    padding: 2px 16px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.719);
    height: 100vh;
    margin-bottom: -11.5px;
}

.top-nav a:hover {
    background-color: rgb(255, 254, 251);
    opacity: 1;
    color: black;
}



.skills-icon {
    position: absolute;
    top: 120vh;
    left: 120vh;
}

#about {
    padding: 5px;
    border: 2px rgb(0, 153, 255) solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 4px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 13px 7.5px rgb(1, 34, 56);
    margin-bottom: 40vh;
}

.footer {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    height: 20vh;
    background-color: var(--background-color);
}