:root {
    --background-color: rgba(0, 0, 0, 0.719);
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --window-width: clamp(200px, 100%, 5000px);
}

* {
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.header {
    top: 0;
    left: 0;
    background-color: var(--background-color);
    height: clamp(100px, 100px, 15%);
    width: var(--window-width);
    /* padding-top: 2vh; */
    display: none;
}

.img {

    height: 29vh;
    width: 28vh;
    left: 10%;
    top: 24%;
    position: absolute;
    border-radius: 50%;

}

.animate {
    letter-spacing: 1.4rem;
    overflow: hidden;
    text-align: center;
    animation: glow 4s infinite;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color:rgba(240, 248, 255, 0.952);
   /* color: aliceblue; */
   font-size: xx-large;
}


@keyframes glow {
    0% {
        letter-spacing: 1.4rem;
        
    }

    50%{
        letter-spacing: 1rem;

    }
    to{
        letter-spacing: 1.4rem;
        
    }
}

.png {
    height: 40px;
    width: 40px;
    margin-left: 15vw;
    /* margin: 10px 5vw; */
    left: 88%;
}

.png:hover {
    height: 40px;
    width: 40px;
}

#mail {
    width: 37px;
}

#mail:hover {
    width: 43px;
}

.name {
    position: absolute;
    font-family: var(--font-family);
    color: white;
    font-size: 200%;
    top: 25%;
    display: block;
    margin-left: 30%;



}

.skills {
    width: 20vw;
    height: 100vh;
    color:white;
    position: relative;
    font-family: var(--font-family);
    font-size: 1.5rem;
    padding: 5vh;
    font-size: 1rem;

}


.top-nav a {
    border: 1px white solid;
    padding: 0.3vw;
    font-size: small;
    border-radius: 4px;
    text-decoration: none;
    float: right;
    margin: 3vw 1.3vw;
    color: white;
    opacity: 0.5;
    font-family: var(--font-family);
    transition: 0.8s;

}

.top-nav {
    padding: 2px 16px;
    width: var(--window-width);
    background-color: black;
    background-image: url('/images/ef2db0885d94fd149a4b7914923bb2a3.gif');
    /* backface-visibility: hidden; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vh;
    font-size: xx-large;
    height: 100vh;
    margin-bottom: -11.5px;
    opacity: 0.7;
}

.top-nav a:hover {
    background-color: rgb(255, 254, 251);
    opacity: 1;
    color: black;
}

.skills-icon {
    position: absolute;
    top: 110%;
    left: 60%;
}


progress {
    width: clamp(10px, 170px, 200px);
}

@media only screen and (max-width: 700px) {
    .header+img {
        display: none;
    }

    .name {
        margin-left: 2vw;
        margin-top: 26vw;
        font-size: xx-large;
    }
    .skills > .animate{font-size: small;
    }
    .skills-icon {
        top: 160vw;
      
    }

}